<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GitHub Issue Viewer</title>

    <!-- combined and minified css -->
    <link href="css/gv-min.css" rel="stylesheet">

    <!-- use this script when debugging locally before we combine and minify -->
    <script data-main="app.init" src="libs/require.js"></script>

    <!-- use this script for production after js combined and minified -->
    <!-- <script src="js/gv-min.js"></script> -->

</head>
<body>

    <!-- all page content will be pulled in from by the client code -->

</body>
</html>