<div id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" id="main-container">
    <div class="row">
        <div class="span12" id="view">

            <!-- this is where our main content will be loaded in by other subviews -->
            <div id="main1">

                <!-- put something in the main content for the user to see while the page loads -->
                <img id="initial-image" src="img/loading.gif" alt="Page Loading" />

            </div>
            <div id="main2">

            </div>

        </div>
    </div>
</div>

<div id="footer">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="span12 ftrtxt">
                        Privacy Policy |
                        Terms &amp; Conditions |
                        Contact Us |
                        2012 Fake Company, All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
